/* componentes do site, aqui vou colocar coisas como o meu titulo, meus menus, botoes e links*/
.title{
    font-size: 40px;
    padding: 20px;
    margin: 25px;
    display: block;
}
.title:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.article-abount{
    width: auto;
    height: 90vh;
    display: flex;
}
.container-abount{
    background-color:#5000ca ;
    width: 900px;
    height: 300px;
    margin: 200px auto;
    
}
.avatar img{
    width: 180px;
    height: 180px;
}
